<div ng-app="TabsApp">

    <div id="tabs">

        <ul>

            <li ng-repeat="tab in vm.tabs"

                ng-class="{active:vm.isActiveTab(tab.url)}"

                ng-click="vm.onClickTab(tab)">{{tab.title}}</li>

        </ul>

        <div id="mainView">

            <div ng-include="vm.currentTab"></div>

        </div>

    </div>

    <script type="text/ng-template" id="listing.local.html">

        <div id="viewOne" class="size1of4 zip_container">

            <form novalidate name="searchForm">

                <div class="select_container" ng-if="vm.enableCats==true">

                    <select ng-if="vm.groups==false" ng-model="vm.currcategory" ng-options="category for category in vm.categories | intersect: vm.categoryarray" ng-change="vm.findLocations()">
                        <option value="">All Categories</option>
                    </select>
                    <select ng-if="vm.groups==true" ng-model="vm.groupcategory" ng-options="category.value group by category.group for category in vm.groupedcategories" ng-change="vm.findLocationsGrouped()">
                        <option value="">All Categories</option>
                    </select>

                </div>
				
				 <input type="text" ng-model="vm.postal" placeholder="postal code" ng-minlength="5">

                <input ng-if="vm.groups==false" type="submit" id="submit" class="submit" value="Go"  ng-click="vm.findLocations()" />
                <input ng-if="vm.groups==true" type="submit" id="submit" class="submit" value="Go"  ng-click="vm.findLocationsGrouped()" />
                <span class="filter-by" ng-if="vm.currcategory.indexOf(',')==-1 && vm.currcategory && vm.locationsfound==true">Filtering By: <input type="submit" class="submit" value="{{vm.currcategory}} X" ng-click="vm.clearFilters()"></span>
            </form>

        </div>

        <div class="listing">

            <div class="list_item" ng-repeat="location in vm.locations">

                <div class="size1of4 distance">{{location.dist | number:2}}mi</div>

                <div class="size2of4 location">

                    <h3>{{location.data.client}}</h3>

                    {{location.data.street}}<br>{{location.data.city}}, {{location.data.subdivision}} {{location.data.postal}}<br>

                    <a ng-show="location.data.url" href="{{location.data.url}}" target="_blank">Website</a>

                </div>

                <div class="size1of4 buttons">

                    <a ng-show="{{location.data.location.length>0}}" href="https://www.google.com/maps/place/{{location.data.street}}+{{location.data.city}},+{{location.data.subdivision}}+{{location.data.postal}}" class="directions_button" target="_blank">Directions</a>

                    <a ng-show="{{location.data.location.length>0}}" ng-click="vm.toggleMap(location.data,$index)" class="map_button">View Map</a>

                </div>

            </div>

            <div ng-show="vm.locations.length==0">

                <h3>{{vm.noresultsmessage}}</h3>

            </div>

        </div>

        <div class="ng-modal" ng-if="vm.mapShown" ng-animate="'animate'">

            <div class="ng-modal-overlay" ng-click="vm.hideMap()"></div>

            <div class="ng-modal-dialog" style="width: 50%; height: 400px;" ng-animate="'animate'">

                <div class="ng-modal-close" ng-click="vm.hideMap()">X</div>

                <div class="ng-modal-dialog-content" style="padding-top:30px;">

                    <ui-gmap-google-map center="vm.map.center" refresh="vm.refreshMap" zoom="8" options="vm.map.options">

                        <ui-gmap-marker idKey="vm.currmarker.id" coords="vm.currmarker"></ui-gmap-marker>

                    </ui-gmap-google-map>

                </div>

            </div>

        </div>

    </script>

    <script type="text/ng-template" id="listing.general.html">

        <div id="viewTwo" class="size1of4 zip_container">

            <form novalidate name="filterFormTwo">

                <div class="select_container">
                    <select ng-if="vm.groups==false" ng-model="vm.currcategory" ng-options="category for category in vm.categories | intersect: vm.categoryarray" ng-change="vm.findLocations()">
                        <option value="">All Categories</option>
                    </select>
                    <select ng-if="vm.groups==true" ng-model="vm.groupcategory" ng-options="category.value group by category.group for category in vm.groupedcategories" ng-change="vm.findLocationsGrouped()">
                        <option value="">All Categories</option>
                    </select>
                </div>
                <span class="filter-by" ng-if="vm.currcategory.indexOf(',')==-1 && vm.currcategory && vm.locationsfound==true">Filtering By: <input type="submit" class="submit" value="{{vm.currcategory}} X" ng-click="vm.clearFilters()"></span>

            </form>

        </div>

        <div class="listing">

            <div class="list_item" ng-repeat="location in vm.generallocations | orderBy:'client' | filterWithOr:vm.currcategory||undefined">

                <div class="location">

                    <h3>{{location.client}}</h3>

                </div>

                <div class="size1of4 buttons">

                    <a ng-show="{{location.url.length>0}}" href="{{location.url}}" class="website_button" target="_blank">Visit Website</a>

                </div>

            </div>

        </div>

        <div ng-hide="(vm.generallocations | filterWithOr:vm.currcategory||undefined).length">

            <h3>No results found in this list. Try another tab.</h3>

        </div>

    </script>

    <script type="text/ng-template" id="listing.online.html">

        <div id="viewThree" class="size1of4 zip_container">

            <form novalidate name="filterFormThree">

                <div class="select_container">


                    <select ng-if="vm.groups==false" ng-model="vm.currcategory" ng-options="category for category in vm.categories | intersect: vm.categoryarray" ng-change="vm.findLocations()">
                        <option value="">All Categories</option>
                    </select>
                    <select ng-if="vm.groups==true" ng-model="vm.groupcategory" ng-options="category.value group by category.group for category in vm.groupedcategories" ng-change="vm.findLocationsGrouped()">
                        <option value="">All Categories</option>
                    </select>

                </div>
                <span class="filter-by" ng-if="vm.currcategory.indexOf(',')==-1 && vm.currcategory && vm.locationsfound==true">Filtering By: <input type="submit" class="submit" value="{{vm.currcategory}} X" ng-click="vm.clearFilters()"></span>

            </form>

        </div>

        <div class="listing">

            <div class="list_item" ng-repeat="location in vm.onlinelocations | orderBy:'client' | filterWithOr:vm.currcategory||undefined">

                <div class="location">

                    <h3>{{location.client}}</h3>

                </div>

                <div class="size1of4 buttons">

                    <a ng-show="{{location.url.length>0}}" href="{{location.url}}" class="website_button" target="_blank">Visit Website</a>

                </div>

            </div>

        </div>

        <div ng-hide="(vm.onlinelocations | filterWithOr:vm.currcategory||undefined).length">

            <h3>No results found. Try another tab.</h3>

        </div>

    </script>

    <script type="text/ng-template" id="listing.catalogdistro.html">

        <div id="viewFour" class="size1of4 zip_container">

            <form novalidate name="filterFormFour">

                <div class="select_container">


                    <select ng-if="vm.groups==false" ng-model="vm.currcategory" ng-options="category for category in vm.categories | intersect: vm.categoryarray" ng-change="vm.findLocations()">
                        <option value="">All Categories</option>
                    </select>
                    <select ng-if="vm.groups==true" ng-model="vm.groupcategory" ng-options="category.value group by category.group for category in vm.groupedcategories" ng-change="vm.findLocationsGrouped()">
                        <option value="">All Categories</option>
                    </select>


                </div>

                <span class="filter-by" ng-if="vm.currcategory.indexOf(',')==-1 && vm.currcategory && vm.locationsfound==true">Filtering By: <input type="submit" class="submit" value="{{vm.currcategory}} X" ng-click="vm.clearFilters()"></span>

            </form>

        </div>

        <div class="listing">

            <div class="list_item" ng-repeat="location in vm.catalogdistrolocations | orderBy:'client' | filterWithOr:vm.currcategory||undefined">

                <div class="size2of4 location">

                    <h3>{{location.client}}</h3>

                </div>

                <div class="size1of4 buttons">

                    <a ng-show="{{location.url.length>0}}" href="{{location.url}}" class="website_button" target="_blank">Visit Website</a>

                </div>

            </div>

            <div ng-hide="(vm.catalogdistrolocations | filterWithOr:vm.currcategory||undefined).length">

                <h3>No results found. Try another tab.</h3>

            </div>

        </div>

    </script>

</div>